.register-container {
  width: 100%;
  max-width: 40rem;
  margin: 0 auto;
  margin-top: 10rem;
  padding: 2rem;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
}

.register-container__title {
  font-size: 2.4rem;
  margin-bottom: 2rem;
  text-align: center;
}

.register-container__form {
  width: 100%;
}

.register-container__label {
  display: block;
  margin-bottom: 5px;
  font-size: 1.6rem;
}

.register-container__sublabel {
    font-size: 1.2rem;
}

.register-container__input {
  width: 100%;
  padding: 1rem;
  margin-bottom: 2rem;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 1.6rem;
}

.register-container__error {
  color: #ff0000;
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.register-container__button {
  display: block;
  width: 100%;
  padding: 1rem;
  background-color: #7AB5AF;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1.8rem;
  text-align: center;
}

