
.form__steps {
  //   padding-top: 3rem;
  padding: 5rem;
}

.form__content {
  margin: 2rem;
}

.form__section {
  // ... セクション全体のスタイル ...
}

.form__group {
  margin-bottom: 1rem;
}

.form__divider {
  // ... <hr />のスタイル ...
}

.form__label,
.form__legend,
.form__sublabel {
  font-size: 1.6rem;
}

.form__label-required {
  font-size: 0.8rem;
  font-weight: bold;
  color: white;
  background-color: rgb(248, 75, 75);
  padding: 0.5rem;
  margin-left: 0.5rem;
  border-radius: 10%;

}

.form__input,
.form__textarea,
.form__input-file,
.form__input-url {
}

.form__input,
.form__textarea {
  padding: 0.5rem;
  font-size: 2rem;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 4px; /* 入力欄の角を丸く */
}

.form__image-preview {
  width: 100px;
  height: 100px;
  object-fit: cover;
  // ... その他のスタイル ...
}

.form__image-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center; // 中央に配置
}

.form__label-wrapper {
  display: flex;
  justify-content: space-around;
}

.form__image {
  margin-top: 1rem;
  border-radius: 50%; // 丸くする
  object-fit: cover;
}
.form__free-image {
  margin-top: 1rem;
  object-fit: cover;
}

.form__file-input {
  display: none;
}
.form__custom-file-label {
  display: inline-block;
  background-color: #f0f0f0; // 任意の背景色
  padding: 4px; // 任意のパディング
  border: 1px solid #ccc; // 任意のボーダー
  color: #333; // 任意のテキストカラー
  border-radius: 5px; // 任意のボーダーラウンド
  font-size: 1.6rem; // 任意のフォントサイズ
  text-align: center; // テキストを中央寄せ
  margin-top: 1rem;
}

.form__hobby,
.form__other {
  display: flex;
  align-items: center;
  margin-bottom: 0.6rem; /* 各趣味の入力欄の間のマージン */
}

.form__input-hobby,
.form__input-change-category,
.form__input-other {
  width: 90%;
  margin-right: 0.6rem;
}

.form__label-color-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.form__label-wrapper {
  display: flex;
  flex-direction: column;
}

.form__radio {
  margin-right: 2rem;
}

.color-combination {
  display: flex;
}

.color1,
.color2,
.color3 {
  display: flex;
  flex-direction: column;
  width: 4rem;
  height: 4rem;
  border: 1px solid #ccc;
}

.color1 {
  background-color: red;
}

.color2 {
  background-color: blue;
}

.color3 {
  background-color: green;
}

.form__label-icon-wrapper {
  display: flex;
  align-items: center;
}

.form__label-other {
  margin-right: 0.6rem;
}

.form__label-comment {
  font-size: 1rem;
  color: #808080;
}
.steps-action {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  gap: 2rem;

  .button {
    &--primary {
      // ここにPrimaryボタンのスタイルを書く
      background-color: #e7e7e7; /* 灰色 */
      padding: 1rem 2rem; // 任意のパディング
      border: 1px solid #ccc; // 任意のボーダー
      color: #333; // 任意のテキストカラー
      border-radius: 5px; // 任意のボーダーラウンド
      font-size: 1.6rem; // 任意のフォントサイズ
      text-align: center; // テキストを中央寄せ
    }

    &--secondary {
      background-color: #e7e7e7; /* 灰色 */
      padding: 1rem 2rem; // 任意のパディング
      border: 1px solid #ccc; // 任意のボーダー
      color: #333; // 任意のテキストカラー
      border-radius: 5px; // 任意のボーダーラウンド
      font-size: 1.6rem; // 任意のフォントサイズ
      text-align: center; // テキストを中央寄せ
    }

    &--submit {
      background-color: #3db6df; /* Light Blue */
      padding: 1rem 2rem; // 任意のパディング
      border: 1px solid #ccc; // 任意のボーダー
      color: #333; // 任意のテキストカラー
      border-radius: 5px; // 任意のボーダーラウンド
      font-size: 1.6rem; // 任意のフォントサイズ
      text-align: center; // テキストを中央寄せ
    }
  }
}
