
.profile-page__icons-wrapper {
  display: flex;
  justify-content: center;
  gap: 7rem;
  padding: 1.5rem 0;
  background-color: antiquewhite;
  // height: 100%;
  align-items: center;
}

.profile-setup {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; /* 画面の高さを全て使う */
}

.profile-setup__text {
  margin-bottom: 20px; /* ある程度の余白を持たせる */
}

.profile-setup__button {
  /* ボタンのスタイル */
  display: block;
  width: 50%;
  padding: 1rem;
  background-color: #7AB5AF;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1.8rem;
  text-align: center;
}
