$padding-mobile: 1rem;
$padding-desktop: 2rem;

* {
  box-sizing: border-box;
  padding: 0;
}

.profile__container {
  // color: #fff;
  max-width: 1200px; // デザインに合わせて変更可能
  margin: 0 auto;
  padding: $padding-mobile;
  padding-bottom: 30px;
  margin-bottom: 1rem;

  @media (min-width: 768px) {
    padding: $padding-desktop;
  }
}

.profile__sub-container {
  margin-bottom: $padding-mobile;

  // @media (min-width: 768px) {
  //   display: flex;
  //   align-items: center;
  //   justify-content: space-between;
  //   margin-bottom: $padding-desktop;
  // }
}

.profile__image--my-image {
  display: block;
  margin: 0 auto;
  margin-bottom: $padding-mobile;
  border-radius: 50%;
  height: 18rem;
  width: 18rem;
  object-fit: cover;
}

.profile__name-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.profile__name-container {
  text-align: center;
}

.profile__name {
  font-size: 2.6rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  color: #4d5156;
  // background-color: #fff6a4;
  // padding: 0.5rem 1rem;
  // border-radius: 10px;
}

.profile__edit-button {
  position: absolute;
  right: 0;
  margin-left: 1rem; // 必要に応じて調整
}

.profile__comment {
  text-align: center;
  margin-bottom: $padding-mobile;
  font-size: 1.4rem;
  font-weight: bold;
}
.comment-bubble {
  position: relative;
  background-color: var(--bubble-color, #f4ddd5); // ふきだしの背景色
  border-radius: 2em;
  padding: 1em;
  margin-top: 2em; // 三角形を含む十分なスペースを確保
  text-align: center;
  border-radius: 12px; // 角を丸くする
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); // シャドウ効果

  &::before {
    content: "";
    position: absolute;
    left: 50%; // 左から50%の位置に配置
    top: -1.8em; // 三角形が要素の上に来るように
    border-width: 1em;
    border-style: solid;
    border-color: transparent transparent var(--bubble-color, #f4ddd5)
      transparent; // 上向きの三角形
    transform: translateX(-50%); // 横方向に50%移動して中央に配置
  }
}

.profile__social-links {
  display: flex;
  justify-content: center;
  gap: 3rem;
  margin: 2rem 0rem;
}

.profile__link--facebook,
.profile__link--twitter,
.profile__link--instagram {
  color: #4d5156; // 色を適切に設定してください
  text-decoration: none;
  font-size: 2.4rem; // アイコンのサイズは必要に応じて調整してください
  padding: 1rem;
}

.profile__section {
  margin-bottom: 3rem;
  // margin-bottom: $padding-mobile;

  @media (min-width: 768px) {
    margin-bottom: $padding-desktop;
  }
}

.profile__sections {
  text-align: center;
  margin-top: $padding-mobile;

  @media (min-width: 768px) {
    margin-top: $padding-desktop;
  }
}

.profile__section-title,
.profile__section-subtitle {
  font-weight: bold;
  margin-bottom: 0.5rem;
  font-size: 1.4rem;
  color: #4d5156; // テキストの色s
}

// .profile__section-item-wrapper {
//   display: flex;
//   flex-wrap: wrap;
//   gap: 0.6rem;
//   justify-content: center;
// }
.profile__section-item-wrapper {
  display: flex;
  flex-wrap: wrap; // 複数のバッジが一行に収まりきらない場合は次の行に移動
  justify-content: center; // バッジを中央に配置
  padding: 0.5rem; // バッジ周りのスペース
}

.profile__section-item {
  padding: 6px 12px; // 内側の余白
  border-radius: 12px; // 角を丸くする
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); // シャドウ効果
  color: #4d5156; // テキストの色
  font-size: 1.4rem;
  font-weight: bold;
  display: flex; /* 子要素を横並びに配置 */
  align-items: center;

  &:not(:last-child) {
    margin-right: 10px; // 右マージンも必要に応じて調整
  }
}
.profile__section-item__text {
  margin-right: 0.6rem;
}

.profile__section--free-post-image {
  width: 80%;
  height: 20rem;
  object-fit: cover;
  display: block;
  margin: 0 auto;
  margin-bottom: $padding-mobile;
  padding: 0.5rem;
  border-radius: 12px;
}

.profile__section-description {
  margin-bottom: $padding-mobile;
}

.profile__section-post {
  margin-bottom: $padding-mobile;
}

.profile__section-post-title {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.profile__section-post-image {
  width: 100%;
  max-width: 300px;
  display: block;
  margin: 0 auto;
  margin-bottom: $padding-mobile;
}

.profile__section-post-description {
  margin-bottom: $padding-mobile;
}

.profile__section--free-post-image-description {
  font-size: 1.4rem;
  font-weight: bold;
}
